.feed {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	border-right: 1px solid var(--twitter-background);
}

.feed::-webkit-scrollbar {
	display: none;
}

.feed__header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 15px 20px;
	background-color: white;
	border-bottom: 1px solid var(--twitter-background);
}

.feed__header > h2 {
	font-size: 20px;
	font-weight: 700;
}
