.post {
	display: flex;
	align-items: flex-start;
	padding: 0 0 10px 10px;
	border-bottom: 1px solid var(--twitter-background);
}

.post__avatar {
	padding: 10px;
}

.post__body {
	flex: 1;
	padding: 15px;
}

.post__body > img {
	width: 100%;
	border-radius: 20px;
}

.post__headerText > h3 {
	margin-bottom: 5px;
	font-size: 15px;
}

.post__headerSpecial {
	font-size: 15px;
	font-weight: 600;
	color: #536471;
}

.post__badge {
	margin-left: 2px;
	font-size: 15px !important;
	color: var(--twitter-color);
}

.post__headerDescription {
	margin-bottom: 10px;
}

.post__footer {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
