.post {
	display: flex;
	margin-top: 12px;
	padding: 0 16px;
	border-bottom: 1px solid var(--twitter-background);
}

.post__avatar {
	margin-right: 12px;
}

.post__body {
	flex: 1;
	padding: 0 0 12px;
}

.post__header {
	display: flex;
	justify-content: space-between;
}

.post__headerText > h3 {
	margin-bottom: 5px;
	font-size: 15px;
}

.post__headerSpecial {
	font-size: 15px;
	font-weight: normal;
	color: var(--twitter-color-alt);
}

.post__badge {
	margin-left: 2px;
	font-size: 15px !important;
	color: var(--twitter-color);
}

.post__tweet > img {
	width: 100%;
	margin-top: 12px;
	border-radius: 20px;
}

.post__footer {
	display: flex;
	gap: 40px;
	margin-top: 10px;
}

.post__footerOption {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.post__footerOption:hover * {
	color: var(--twitter-color);
	transition: all 0.15s ease-in;
}

.post__footerOption:hover
	> .postOption__container
	> .postOption
	> .postOption__icon {
	background-color: #e1eef6;
}

#retweet:hover * {
	color: #00ba7c;
	transition: all 0.15s ease-in;
}

#retweet:hover > .postOption__container > .postOption > .postOption__icon {
	background-color: #def1eb;
	transition: all 0.15s ease-in;
}

#like:hover * {
	color: #f91880;
	transition: all 0.15s ease-in;
}

#like:hover > .postOption__container > .postOption > .postOption__icon {
	background-color: #f7e0eb;
	transition: all 0.15s ease-in;
}
