.post {
	display: flex;
	margin-top: 12px;
	padding: 0 16px;
	border-bottom: 1px solid var(--twitter-background);
}

.post__avatar {
	margin-right: 12px;
}

.post__body {
	flex: 1;
	padding: 0 0 12px;
}

.post__tweet > img {
	width: 100%;
	margin-top: 12px;
	border-radius: 20px;
}

.post__headerText > h3 {
	margin-bottom: 5px;
	font-size: 15px;
}

.post__headerSpecial {
	font-size: 15px;
	font-weight: 600;
	color: var(--twitter-color-alt);
}

.post__badge {
	margin-left: 2px;
	font-size: 15px !important;
	color: var(--twitter-color);
}

.post__headerDescription {
	margin-bottom: 10px;
}

.post__footer {
	display: flex;
	gap: 40px;
	margin-top: 10px;
	color: var(--twitter-color-alt);
}
