.sidebarOption {
	display: flex;
	align-items: center;
	border-radius: 30px;
	cursor: pointer;
}

.sidebarOption:hover {
	background-color: var(--twitter-background);
	transition: 150ms ease-in;
}

.sidebarOption > .MuiSvgIcon-root {
	padding: 20px;
	font-weight: 800;
}

.sidebarOption > h2 {
	display: none;
}

.sidebarOption--active > h2 {
	font-weight: bold;
}

@media (min-width: 768px) {
	.sidebarOption > h2 {
		display: inline-flex;
		margin-right: 20px;
		font-size: 20px;
		font-weight: 400;
	}
}
