.sidebar {
	position: sticky;
	top: 0;
	grid-column: first / second;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: end;
	padding: 0 20px;
	margin-right: 15px;
}

.sidebar__icon {
	margin: 3px 0 0 10px;
	padding: 10px;
	color: var(--twitter-color);
	font-size: 30px !important;
	border-radius: 30px;
	cursor: pointer;
}

.sidebar__icon:hover {
	background-color: var(--twitter-background);
	transition: 150ms ease-in;
}

.sidebar__tweetSmall,
.sidebar__tweet {
	height: 50px !important;
	margin-top: 20px !important;
	background-color: var(--twitter-color) !important;
	color: white !important;
	text-transform: inherit !important;
	font-weight: 900 !important;
	border: none !important;
	border-radius: 30px !important;
}

.sidebar__tweet {
	display: none !important;
}

@media (min-width: 768px) {
	.sidebar {
		align-items: flex-start;
	}
	.sidebar__tweetSmall {
		display: none !important;
	}
	.sidebar__tweet {
		display: inline-flex !important;
	}
}
