.tweetBox {
	padding: 0 10px 10px 0;
	border-bottom: 1px solid var(--twitter-background);
}

.tweetBox > form {
	display: flex;
	flex-direction: column;
}

.tweetBox__input {
	display: flex;
	padding: 20px;
}

.tweetBox__input > input {
	flex: 1;
	margin-left: 15px;
	font-size: 18px;
	border: none;
}

.tweetBox__input > input:focus {
	outline: none;
}

.tweetBox__imageInput {
	padding: 10px;
	border: none;
}

.tweetBox__inputButtons {
	display: flex;
	align-items: center;
}

.tweetBox__inputOptions {
	margin: 12px 0 0 75px;
}

.tweetBox__inputOptions > * {
	padding: 5px;
	font-size: 20px !important;
	color: var(--twitter-color);
	border-radius: 30px;
	cursor: pointer;
}

.tweetBox__inputOptions > *:hover {
	background-color: #e8f5fd;
}

.tweetBox__tweetButton {
	height: 40px !important;
	width: 80px !important;
	/* margin-top: 12px !important; */
	margin-left: auto !important;
	background-color: var(--twitter-color) !important;
	color: white !important;
	text-transform: inherit !important;
	font-weight: 900 !important;
	border: none !important;
	border-radius: 30px !important;
}
