.widgets {
	display: none;
}

.widgets__input {
	display: flex;
	align-items: center;
	margin: 5px 0 0 20px;
	padding: 10px;
	background-color: var(--twitter-background);
	border-radius: 20px;
}

.widgets__searchIcon {
	color: var(--twitter-color-alt);
}

.widgets__input > input {
	border: none;
	background-color: var(--twitter-background);
}

.widgets__input > input:focus {
	outline: none;
}

.widgets__widgetContainer {
	margin: 15px 0 0 20px;
	background-color: #f7f9f9;
	border-radius: 20px;
}

.widgets__widgetContainer > h2 {
	padding: 12px 16px;
	font-size: 18px;
	font-weight: 800;
}

.widgets__widgetContainer > p {
	padding: 16px;
	color: var(--twitter-color);
	cursor: pointer;
}

.widgets__widgetContainer > p:hover {
	background-color: #eff1f1;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: 150ms ease-in;
}

@media (min-width: 1024px) {
	.widgets {
		position: sticky;
		top: 0;
		grid-column: third / last;
		display: flex;
		flex-direction: column;
		justify-self: start;
		width: 50%;
		margin-left: 15px;
	}
}
